body {
font-family: Cerebri-Sans,Helvetica,Arial,sans-serif;
background-color: #F9F7FE;
}

h1 {
margin: 20px 20px 10px 20px;
font-size: 38px;
font-weight: 700;
line-height: 48px;
}

ul {
    list-style: none;
    color: #A9A6B3;
    padding-left: 20px;
}

li {
    text-transform: capitalize;
}

img {
    position: relative;
    top: -30px;
    left: -10px;
}

form {
    padding: 20px 20px 40px 20px;

}

a {
    text-decoration: none;
}

.container {
    max-width: 700px;
    margin: 50px auto;
}

.weather-app {
max-width: 700px;
padding: 40px;
margin: 50px auto 10px;
border: 1px solid #fff;
border-radius: 10px;
background-color: #fff;
}

.humidity, .wind {
    color: #F65282;
}

.temperature {
    font-size: 80px;
    font-weight: 550;
}

.unit {
    font-size: 28px;
    font-weight: 400;
    position: relative;
    top: -50px;
    left: -10px;
}

.wind {
    text-transform: lowercase;
}

.form-control {
    background-color: #F9F7FE;
    padding: 15px 20px;
    border: 1px solid #fff;
}

.btn {
    padding: 15px;
    background-color: #885DF1;
    border: 1px solid #fff;
    font-weight: bold;
}

.weather-forecast {
    text-align: center;
}

.forecast-img {
    position: static;
}

.forecast-date {
    color: #A9A6B3;
    font-size: 16px;
    
}



.forecast-tempearture-max {
    color: #F65282;
    font-size: 18px;
    font-weight: 700;
}

.forecast-tempearture-min {
    color: #FA97B4;
    font-size: 18px;
    font-weight: 700;
}
